<footer>
    <div id="contacts" class="map">
        <div class="map__info">
            <div class="map__address">
                ЛО, п. Токсово, переулок Озерный, 1
            </div>
            <div class="map__box">
                <div class="map__left">
                    <a href="tel:+79312018040" class="map__phone">+7 (931) <span>201-80-40</span></a>
                    <a href="tel:+79219009294" class="map__phone">+7 (921) <span>900-92-94</span></a>
                </div>
                <div class="map__right">
                    <a href="#" class="map__callback">Заказать<br> обратный<br> звонок</a>
                </div>
            </div>
            <div class="map__time">
                Ежедневно с 9:00 до 00:00
            </div>
        </div>
        <div id="gmap_canvas"></div>
    </div>
</footer>
</div>
<div class="remodal" data-remodal-id="modal-qa">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2 class="remodal__title">Задать вопрос</h2>
    <form action="#" class="form remodal__form">
        <div class="remodal__grid d-flex">
            <div class="form__element form__element--width-100">
                <input type="text" class="form__input form__input--width-100" required>
                <label for="#" class="form__label form__important form__label--input-label">Ваше имя</label>
            </div>
            <div class="form__element form__element--width-100">
                <input type="text" class="form__input form__input--width-100" required>
                <label for="#" class="form__label form__important form__label--input-label">Ваш e-mail</label>
            </div>
            <div class="form__element form__element--width-100">
                <input type="text" placeholder="Номер вашего телефона" class="form__input form__input--width-100">
            </div>
            <textarea placeholder="Ваш вопрос" class="form__textarea"></textarea>
        </div>
        <div class="remodal__bottom d-flex">
            <div class="remodal__text">
                Поля отмеченные <span class="form__important"></span>
                <br> обязательны к заполнению
            </div>
            <div class="form__check">
                <input id="form__checkbox-4" class="form__checkbox" type="checkbox"  checked="checked">
                <label for="form__checkbox-4">прочитал и согласен с <a href="#" class="form__checkbox-link">условиями<br> обработки персональных данных</a></label>
            </div>
            <button type="submit" class="button">Задать вопрос</button>
        </div>
    </form>
</div>
<div class="remodal" data-remodal-id="modal-booking">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2 class="remodal__title">Забронировать коттедж со скидкой</h2>
    <div class="remodal__subtitle ">
        Мы свяжемся с вами в течение 15 минут для уточнения деталей
    </div>
    <div class="remodal__content">
        <form action="#" class="form remodal__form">
            <div class="remodal__name remodal__name--ml-25 form__important">На какую скидку претендуете?</div>
            <div class="remodal__grid remodal__grid--nowrap remodal__grid--shrink d-flex">
                <div class="form__radiobox">
                    <input type="radio" id="a-option" class="form__radio" name="selector">
                    <label for="a-option">Студенты, семья или День Рождения</label>
                    <div class="radio__check"></div>
                </div>
                <div class="form__radiobox">
                    <input type="radio" id="b-option" class="form__radio" name="selector">
                    <label for="b-option">Длительный срок</label>
                    <div class="radio__check"></div>
                </div>
                <div class="form__radiobox">
                    <input type="radio" id="c-option" class="form__radio" name="selector">
                    <label for="c-option">Срочное бронирование</label>
                    <div class="radio__check"></div>
                </div>
                <div class="form__radiobox">
                    <input type="radio" id="d-option" class="form__radio" name="selector">
                    <label for="d-option">Постоянный гость</label>
                    <div class="radio__check"></div>
                </div>
                <div class="form__radiobox">
                    <input type="radio" id="f-option" class="form__radio" name="selector">
                    <label for="f-option">Хочу бесплатный кальян!</label>
                    <div class="radio__check"></div>
                </div>
            </div>
            <div class="remodal__grid remodal__grid--nowrap d-flex">
                <div class="form__element">
                    <input type="text" class="form__input" required>
                    <label for="#" class="form__label form__important form__label--input-label">Количество персон</label>
                </div>
                <div class="form__element">
                    <label for="#" class="form__label form__important">Дата заезда</label>
                    <input type="text" placeholder="ДД/ММ/ГГ" class="form__input form__input--width-110" required>
                </div>
                <div class="form__element">
                    <label for="#" class="form__label form__important">Дата отъезда</label>
                    <input type="text" placeholder="ДД/ММ/ГГ" class="form__input form__input--width-110" required>
                </div>
            </div>
            <div class="remodal__grid d-flex">
                <div class="form__element form__element--width-100">
                    <input type="text" class="form__input form__input--width-100" required>
                    <label for="#" class="form__label form__important form__label--input-label">Ваше имя</label>
                </div>
                <div class="form__element form__element--width-100">
                    <input type="text" class="form__input form__input--width-100" required>
                    <label for="#" class="form__label form__important form__label--input-label">Номер вашего телефона</label>
                </div>
                <textarea placeholder="Комментарий к брони" class="form__textarea form__textarea--small"></textarea>
            </div>
            <div class="remodal__bottom d-flex">
                <div class="remodal__text">
                    Поля отмеченные <span class="form__important"></span>
                    <br> обязательны к заполнению
                </div>
                <div class="form__check">
                    <input id="form__checkbox-4" class="form__checkbox" type="checkbox"  checked="checked">
                    <label for="form__checkbox-4">прочитал и согласен с <a href="#" class="form__checkbox-link">условиями<br> обработки персональных данных</a></label>
                </div>
                <button type="submit" class="button">Задать вопрос</button>
            </div>
        </form>
    </div>
</div>
<div class="remodal" data-remodal-id="modal-send">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h2 class="remodal__title">Ваше сообщение отправлено</h2>
    <div class="remodal__subtitle">
        Ма свяжемся с Вами в ближайшее время
    </div>
    <div class="remodal__bottom">
            <a href="#" class="button">Cпасибо жду звонка</a>
    </div>
</div>
<script src="js/main.js"></script>
</body>

</html>
