<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCS5OSx6MRVaD_ATzLCX1YwthGojQjfR8E'></script>
    <title>test</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="hamburger" id="hamburger-1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <a href="tel:+79312018040" class="header__number header__number--mobile">
                <img src="img/phone-icon--green.png" alt="phone">
            </a>
            <div class="header__top">
                <div class="container">
                    <div class="header__grid d-flex">
                        <div class="header__col">
                            <a href="#" class="header__logo">
                                <img class="logo" src="img/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="header__col header__col--center d-flex">
                            <div class="header__item d-flex">
                                <i class="header__icon icon icon-phone-icon"></i>
                                <a href="tel:+79312018040" class="header__number">
                                    +7 (931) <span>201-80-40</span>
                                </a>
                                <a href="#" class="header__callback">
                                    Заказать обратный звонок
                                </a>
                            </div>
                            <div class="header__item">
                                <a href="tel:+79219009294" class="header__number">
                                     +7 (921) <span>900-92-94</span>
                                 </a>
                            </div>
                        </div>
                        <div class="header__col">
                            <div class="header__item header__item--address">
                                <div class="header__address">
                                    ЛО, п. Токсово, пер. Озерный, 1
                                </div>
                                <a href="#contacts" class="header__callback js-scrollToEl">
                                    Показать на карте
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__bottom">
                <div class="container">
                    <nav class="menu header__menu d-flex">
                        <a href="additionally" class="menu__link d-flex js-scrollToEl">
                            <i class="menu__icon icon icon-menu-icon-1"></i>
                            <span class="menu__text">Описание</span>
                        </a>
                        <a href="#discounts" class="menu__link d-flex js-scrollToEl">
                            <i class="menu__icon icon icon-menu-icon-2"></i>
                            <span class="menu__text">Бонусы и скидки</span>
                        </a>
                        <a href="#price" class="menu__link d-flex js-scrollToEl">
                            <i class="menu__icon icon icon-menu-icon-3"></i>
                            <span class="menu__text">Цены</span>
                        </a>
                        <a href="#reviews" class="menu__link d-flex js-scrollToEl">
                            <i class="menu__icon icon icon-menu-icon-4"></i>
                            <span class="menu__text">Отзывы</span>
                        </a>
                        <a href="#contacts" class="menu__link d-flex js-scrollToEl">
                            <i class="menu__icon icon icon-menu-icon-5"></i>
                            <span class="menu__text">Контакты</span>
                        </a>
                        <a href="#" class="menu__link d-flex js-scrollToEl">
                            <i class="menu__icon icon icon-menu-icon-6"></i>
                            <span class="menu__text">Посмотреть коттедж</span>
                        </a>
                        <a href="#carousel" class="menu__link d-flex js-scrollToEl">
                            <i class="menu__icon icon icon-menu-icon-7"></i>
                            <span class="menu__text">Фотогалерея</span>
                        </a>
                    </nav>
                </div>
            </div>
        </header>
