<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__top d-flex">
                <div class="header__col">
                    <a href="#" class="logo header__logo">
						<img src="../img/logo.png" alt="logo">
					</a>
                </div>
                <div class="header__col header__col--center d-flex">
                    <div class="header__item d-flex">
                        <a href="#" class="header__number">
							+7 (931) <span>201-80-40</span>
						</a>
                        <a href="#" class="header__callback">
							Заказать обратный звонок
						</a>
                    </div>
                    <div class="header__item">
                        <a href="#" class="header__number">
							+7 (921) <span>900-92-94</span>
						</a>
                    </div>
                </div>
                <div class="header__col">
                    <div class="header__item">
                        <div class="header__address">
                            ЛО, п. Токсово, пер. Озерный, 1
                        </div>
                        <a href="#" class="header__callback">
							Показать на карте
						</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <nav class="menu header__menu d-flex">
                    <a href="#" class="menu__link">
            			Описание
            		</a>
                    <a href="#" class="menu__link">
            			Бонусы и скидки
            		</a>
                    <a href="#" class="menu__link">
            			Цены
            		</a>
                    <a href="#" class="menu__link">
            			Отзывы
            		</a>
                    <a href="#" class="menu__link">
            			Контакты
            		</a>
                    <a href="#" class="menu__link">
            			Посмотреть коттедж
            		</a>
                    <a href="#" class="menu__link">
            			Фотогалерея
            		</a>
                </nav>
            </div>
        </div>
</header>