/*=../../bower_components/owl.carousel/dist/assets/owl.carousel.css*/

@import "partials/vars";
@import "partials/mixin";
@import "partials/fonts";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Akrobat-Regular', sans-serif;
    width: 100%;
    height: 100%;
    min-width: 320px;
    position: relative;
    z-index: 20;
    font-size: 18px;
    line-height: normal;
    background-color: #ffffff;
    color: #555454;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.main {
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    margin: 0px 0px 10px;
}

a,
button {
    cursor: pointer;
}

.title-main {
    font-size: 92px;
    margin: 0px 0px 32px;
    color: #5b5b5c;
    font-weight: 300;
    text-align: center;
    font-family: 'Akrobat-Thin';
    letter-spacing: -3px;
}

.box-center {
    text-align: center;
}

.hr {
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
    height: 1px;
}

.header {
    &__top {
        justify-content: space-between;
        align-items: center;
        padding: 28px 0px 31px;
    }
    &__col {
        justify-content: space-between;
        &--center {
            .header__item {
                margin: 0px 20px;
            }
        }
    }
    &__item {
        flex-direction: column;
    }
    &__number {
        font-size: 16px;
        color: #555454;
        span {
            font-size: 26px;
        }
    }
    &__callback {
        font-size: 12px;
    }
    &__bottom {
        background-image: url(../img/header__bottom--back.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__menu {
        height: 102px;
    }
}

.menu {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__link {
        font-size: 16px;
        line-height: normal;
        text-transform: uppercase;
        color: #555454;
        font-family: 'DaxlinePro';
        font-weight: 500;
    }
}

.promo {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 750px;
    color: #fff;
    &__container {
        height: inherit;
    }
    &__box {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 0px 54px;
    }
    &__info {
        align-items: flex-end;
    }
    &__title {
        font-size: 110px;
        text-transform: uppercase;
    }
    &__bottom {
        justify-content: space-between;
        width: 100%;
        padding: 40px 0px 0px;
        margin: 35px 0px 0px;
        border-top: 2px dotted #fff;
    }
}

.section-carousel {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/header__bottom--back.png);
        background-repeat: repeat-x;
        background-size: contain;
        background-position: top center;
        z-index: -1;
    }
}

.carousel {
    padding: 0px 0px 55px;
}

.main-carousel {
    padding: 43px 0px 0px;
    overflow: hidden;
    &__image {
        border-radius: 12px;
        max-width: 100%;
        width: 344px;
        height: 245px;
        background-position: center center;
    }
    &__button {
        width: 390px;
        color: #ffffff;
        font-family: "Akrobat-SemiBold";
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        background-color: #9cba26;
        margin: 55px 0px 0px;
        border-radius: 50px;
        padding: 17px 13px;
        display: inline-block;
        background-image: url(../img/btn-back.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.main-carousel .owl-item {
    text-align: center;
    padding: 7px;
    border: 2px dotted #9fbd26;
    border-radius: 12px;
}

.owl-item {
    float: left;
}

.advantages {
    &__grid {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 1 25%;
        text-align: center;
        margin: 65px auto 0px;
    }
}

.additionally {
    position: relative;
    margin: 65px 0px 0px;
    min-height: 820px;
    background-image: url(../img/add-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #caf41b;
        z-index: -1;
    }
}

.ellipse__top {
    transform: rotate(180deg);
}

.ellipse__bottom {
    position: absolute;
    bottom: 0;
}

.discounts {
    margin: 30px 0px 0px;
    &__grid {
        margin: 40px 0px 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0px 40px;
        margin: 0px 0px 62px;
    }
    &__circle {
        width: 210px;
        height: 210px;
        border-radius: 50%;
        border: 1px solid #cedead;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        font-family: 'Akrobat-Bold';
        color: #49494e;
        font-size: 20px;
        line-height: 24px;
        margin: 16px 0px 0px;
    }
    &__text {
        margin: 20px 0px 0px;
        padding: 0px 20px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #89898f;
    }
    &__subtitle {
        font-size: 16px;
        color: #abcb29;
        text-align: left;
    }
    &__list {
        text-align: left;
        margin-left: 20px;
    }
}

.price {
    background-color: #fff;
    padding: 0px 0px 100px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    &__grid {
        justify-content: space-between;
    }
    &__item {
        position: relative;
        flex: 1 1 33.33%;
        max-width: 33.33%;
        margin-right: 35px;
        min-height: 433px;
        padding: 0px 25px 42px;
        border-radius: 12px;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        &:last-child {
            margin-right: 0;
        }
    }
    &__info {
        margin-top: 14px;
        padding: 7px 10px 12px;
        border-radius: 5px;
        background-color: #fff;
        font-family: 'Akrobat-SemiBold';
        font-size: 28px;
        line-height: 24px;
    }
    &__title {
        background-color: #fff;
        border-radius: 5px 5px 0px 0px;
        padding: 7px 10px;
        font-size: 20px;
        line-height: 24px;
        color: #49494e;
        font-family: 'Akrobat-Bold';
    }
    &__text {
        background-color: #fff;
        border-radius: 0px 5px 5px 5px;
        padding: 7px 10px 12px;
        font-size: 16px;
        color: #89898f;
    }
    &__buttons {
        width: 285px;
        max-width: 100%;
        height: 45px;
        position: absolute;
        bottom: -22px;
        background-color: #edeeee;
        justify-content: space-between;
        border-radius: 50px;
    }
    &__button {
        border: none;
        background-color: #edeeee;
        font-size: 16px;
        border-radius: 50px;
        &--check {
            text-transform: uppercase;
            color: #fff;
            padding: 0px 22px;
        }
        &--more {
            font-family: 'Akrobat-SemiBold';
            padding: 0px 13px;
        }
        &--active {
            background-color: #5d9cbc;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__top {
        position: relative;
    }
    &__input {
        width: 345px;
        height: 50px;
        border: 1px solid #e1e1e1;
        padding: 0px 15px;
        border-radius: 50px;
        font-size: 20px;
        color: #66666b;
        font-family: 'Akrobat-Regular';
        margin: 0px 10px;
        background-color: #fff;
        outline: none;
    }
    &__button {
        position: absolute;
        right: -100px;
        top: 0;
        border: 0;
        height: 50px;
        width: 215px;
        border-radius: 50px;
        padding: 10px 15px;
        font-family: 'Akrobat-Bold';
        font-size: 20px;
        color: #fff;
        background-color: #abcb29;
        background: linear-gradient(90deg, #abcb29, #9fd430);
    }
    &__check {
        margin: 19px 0px 0px;
        font-size: 14px;
        color: #302f2f;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: normal;
        label {
            margin-left: 10px;
        }
    }
    &__checkbox {
        color: #302f2f;
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        position: relative;
        outline: none;
        &-link {
            text-decoration: underline;
            color: #302f2f;
        }
        &:before {
            content: '';
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            transform: translate(-3px, -3px);
            width: 18px;
            height: 18px;
            line-height: 10px;
            text-align: center;
            border: 2px solid #302f2f;
            background: #fff;
            transition: all 0.2s;
        }
        &:checked:before {
            content: '+';
            position: absolute;
            color: #302f2f;
        }
    }
}

.callback {
    position: relative;
    margin: 84px 0px 0px;
    padding: 0px 50px 0px;
    border-radius: 12px;
    min-height: 216px;
    background-color: #a4c423;
    background-image: url(../img/callback-back.png);
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: -1;
    }
    &__container {
        padding-left: 0;
        padding-right: 0;
    }
    &__left {
        flex: 0 1 310px;
    }
    &__center {
        flex: 0 1 310px;
    }
    &__right {
        flex: auto;
        display: flex;
        justify-content: flex-end;
    }
    &__text {
        font-size: 48px;
        line-height: 48px;
        font-family: 'Akrobat-Light';
        span {
            font-weight: 700;
            font-family: 'Akrobat-Regular';
        }
    }
    &__title {
        font-size: 48px;
        line-height: 48px;
        font-family: 'Akrobat-Light';
    }
    &__form {
        position: relative;
        font-size: 20px;
        width: 435px;
        justify-content: flex-start;
        .form__input {
            border-radius: 50px;
            width: 250px;
            padding: 0px 20px;
            border: 0;
        }
        .form__button {
            position: absolute;
            left: auto;
            right: 50px;
            top: 0;
            bottom: 0;
            border-radius: 50px;
            background: linear-gradient(90deg, #ff7f00, #ff9a00 80%);
            color: #FFF;
            border: 0;
            font-size: 20px;
        }
        .form__check {
            margin: 15px 0px 0px;
            label {
                color: #fff;
            }
        }
        .form__checkbox {
            color: #fff;
            &-link {
                text-decoration: underline;
                color: #fff;
            }
            &:before {
                background: transparent;
                border: 2px solid #fff;
                background: #a6c649;
            }
            &:checked:before {
                content: '+';
                color: #fff;
            }
        }
    }
}

.reviews {
    margin: 120px 0px 0px;
    padding: 0px 0px 20px;
    background-color: #fff;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    &__grid {
        margin: 42px 0px 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__circle {
        position: relative;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        border: 1px solid #cedead;
        box-shadow: inset 0 0 0 10px #fff;
        margin: 0 auto;
    }
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 186px;
        height: 186px;
    }
    &__item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0px 40px;
        margin: 0px 0px 75px;
        text-align: center;
    }
    &__name {
        margin: 18px 0px 0px;
        font-size: 20px;
        line-height: 24px;
        font-family: 'Akrobat-Bold';
    }
    &__stars {
        margin: 13px 0px 0px;
    }
    &__text {
        margin: 14px 0px 0px;
        font-size: 16px;
        line-height: 24px;
        padding: 0px 25px;
    }
    &__button {
        display: inline-block;
        margin: 25px 0px 0px;
        font-family: 'Akrobat-SemiBold';
        font-size: 16px;
        color: #744915;
    }
}

.places {
    min-height: 1040px;
    padding: 55px 0px 65px;
    background-image: url(../img/places-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__title {
        color: #fff;
        margin: 0px 0px 18px;
    }
    &__subtitle {
        font-family: 'Akrobat-ExtraLight';
        font-size: 54px;
        line-height: 1;
        color: #fff;
        text-align: center;
    }
    &__grid {
        justify-content: space-between;
        margin: 15px 0px 0px;
        flex-wrap: wrap;
    }
    &__item {
        margin: 15px 0px 0px;
        flex: 0 1 265px;
        max-width: 265px;
        min-height: 340px;
        border-radius: 12px;
        border: 2px dotted #c1c1c7;
        padding: 10px;
        text-align: center;
    }
    &__image {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 12px;
    }
    &__distance {
        font-family: 'Akrobat-Bold';
        font-size: 20px;
        line-height: 24px;
        margin: 18px 0px 0px;
        padding: 0px 15px;
    }
    &__text {
        margin: 10px 0px 0px;
        font-size: 16px;
        line-height: 24px;
        color: #89898f;
        padding: 0px 15px 15px;
    }
    &__inset {
        background-color: #fff;
        height: 100%;
        border-radius: 12px;
    }
}

.application {
    background-image: url(../img/application-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0px 65px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    &__title {
        text-align: center;
        color: #302f2f;
        font-family: 'Akrobat-Light';
        font-size: 48px;
        line-height: 48px;
        margin: 0px 0px 30px;
        span {
            font-family: 'Akrobat-SemiBold';
        }
    }
    &__form {
        padding: 0px 0px 35px;
        border-bottom: 2px dotted #a5a6ab;
    }
}

.social {
    padding: 38px 0px 0px;
    margin: 0 auto;
    flex: 0 1 800px;
    max-width: 800px;
    &__text {
        font-family: 'Akrobat-Light';
        font-size: 24px;
        line-height: 24px;
        flex: 0 0 350px;
        max-width: 350px;
    }
}

.qa {
    margin: 60px 0px 0px;
    &__grid {
        flex-wrap: wrap;
    }
    &__circle {
        flex: 0 0 48px;
    }
    &__item {
        flex-direction: row;
        flex: 0 1 25%;
        max-width: 25%;
        margin: 0px 0px 72px;
        padding-right: 30px;
        &--text {
            padding-left: 50px;
            font-size: 12px;
            line-height: 16px;
            color: #302f2f;
        }
        &--button-box {
            padding-left: 50px;
        }
    }
    &__circle {
        border: 1px dashed #a5a6ab;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        color: #49494e;
        font-family: 'Akrobat-Bold';
    }
    &__button {
        display: inline-block;
        margin: 13px 0px 0px;
        font-size: 16px;
        font-family: 'Akrobat-SemiBold';
        color: #92af19;
        &--set {
            margin: 0;
            font-family: 'Akrobat-Bold';
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            background: linear-gradient(90deg, #ff7f00, #ff9a00 80%);
            padding: 13px 12px;
            border-radius: 50px;
        }
    }
}

.map {
    width: 100%;
    min-height: 630px;
    position: relative;
    border-top: 7px solid #93b644;
}

#gmap_canvas {
    min-height: 630px;
    width: 100%;
}
