/*=../../bower_components/owl.carousel/dist/assets/owl.carousel.css*/


/*=../../bower_components/remodal/dist/remodal-default-theme.css*/


/*=../../bower_components/remodal/dist/remodal.css*/


/*=../../bower_components/magnific-popup/dist/magnific-popup.css*/

@import "partials/vars";
@import "partials/mixin";
@import "partials/fonts";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    margin-right: 0 !important;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Akrobat-Regular', sans-serif;
    width: 100%;
    height: 100%;
    min-width: 320px;
    position: relative;
    z-index: 20;
    font-size: 18px;
    line-height: normal;
    background-color: #ffffff;
    color: #555454;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.main {
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    margin: 0px 0px 10px;
}

a,
button {
    cursor: pointer;
}

.button {
    margin: 0;
    border: 0;
    font-family: 'Akrobat-Bold';
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff7f00, #ff9a00 80%);
    padding: 12px 18px 14px;
    border-radius: 50px;
    display: inline-block;
    &:before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -515px -116px;
        width: 21px;
        height: 19px;
        margin-right: 8px;
    }
}

.title-box {
    position: relative;
}

.title-main {
    font-size: 92px;
    margin: 0px 0px 32px;
    color: #5b5b5c;
    font-weight: 300;
    text-align: center;
    font-family: 'Akrobat-Thin';
    letter-spacing: -3px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 60%;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/sprite.png);
        background-position: -406px -17px;
        width: 245px;
        height: 2px;
        left: -30px;
    }
    &:after {
        content: '';
        position: absolute;
        top: 60%;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/sprite.png);
        background-position: -406px -17px;
        width: 245px;
        height: 2px;
        right: -30px;
    }
}

.box-center {
    text-align: center;
}

.hr {
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
    height: 1px;
}

.header {
    &__top {
        position: relative;
        padding: 28px 0px 31px;
        &:before {
            content: '';
            position: absolute;
            bottom: -27px;
            left: 0;
            right: 0;
            background-image: url(../img/header-back.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 27px;
        }
    }
    &__grid {
        justify-content: space-between;
        align-items: center;
    }
    &__col {
        justify-content: space-between;
        &--center {
            .header__item:last-child {
                margin-left: 30px;
            }
        }
    }
    &__item {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 0px 0px;
    }
    &__number {
        font-family: 'Akrobat-Bold';
        font-weight: 500;
        font-size: 22px;
        color: #555454;
        span {
            font-size: 30px;
            margin-left: 2px;
        }
    }
    &__callback {
        font-size: 12px;
        font-family: 'DaxlinePro';
        color: #585858;
        border-bottom: 1px dashed #636363;
    }
    &__bottom {
        background-image: url(../img/header__bottom--back.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__menu {
        height: 102px;
    }
    &__address {
        font-family: 'DaxlinePro';
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: -22px;
            top: 0;
            display: inline-block;
            background-image: url(../img/sprite.png);
            background-position: -551px -116px;
            width: 15px;
            height: 18px;
        }
    }
    .icon-phone-icon {
        position: absolute;
        left: -34px;
        top: 50%;
        transform: translateY(-30%);
    }
}

.menu {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__link {
        font-size: 16px;
        line-height: normal;
        text-transform: uppercase;
        color: #555454;
        font-family: 'DaxlinePro';
        font-weight: 500;
        align-items: flex-end;
    }
    &__text {
        margin-left: 8px;
        line-height: 1;
        padding-top: 4px;
        display: inline-block;
    }
}

.promo {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 750px;
    color: #fff;
    &__text {
        margin-left: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
    }
    &__item {
        font-family: 'DaxlinePro';
        align-items: center;
    }
    &__container {
        height: inherit;
    }
    &__box {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 0px 44px;
    }
    &__info {
        align-items: flex-end;
    }
    &__title {
        font-size: 110px;
        text-transform: uppercase;
        font-family: 'Akrobat-ExtraLight';
        font-weight: 300;
        span {
            font-family: 'Akrobat-Bold';
            font-weight: 700;
        }
    }
    &__bottom {
        justify-content: space-between;
        width: 100%;
        padding: 40px 0px 0px;
        margin: 35px 0px 0px;
        position: relative;
        margin-right: auto;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background-image: url(../img/sprite.png);
            background-position: 0px 0px;
            width: 1097px;
            height: 2px;
        }
    }

    &__descr{
        font-size: 28px;

        span{
            font-weight: 700;
        }
    }
}

.section-carousel {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/header__bottom--back.png);
        background-repeat: repeat-x;
        background-size: contain;
        background-position: top center;
        z-index: -1;
    }
}

.carousel {
    padding: 0px 0px 55px;
    position: relative;
}

.main-carousel {
    padding: 43px 0px 0px;
    overflow: hidden;
    &__image {
        border-radius: 12px;
        max-width: 100%;
        width: 344px;
        height: 245px;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        img {
            display: none;
        }
    }
    &__button {
        width: 390px;
        color: #ffffff;
        font-family: "Akrobat-SemiBold";
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        background-color: #9cba26;
        margin: 65px 0px 0px;
        border-radius: 50px;
        padding: 17px 13px;
        display: inline-block;
        background-image: url(../img/btn-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
    }
}

.main-carousel .owl-item {
    text-align: center;
    padding: 7px;
    border: 2px dotted #9fbd26;
    border-radius: 12px;
}

.owl-item {
    float: left;
}

.owl-nav {
    position: absolute;
    left: 0;
    top: 20%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

.owl-prev {
    background-image: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    opacity: 1;
    font-size: 0;
    width: 75px;
    height: 150px;
    left: 0;
    position: absolute;
}

.owl-next {
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    opacity: 1;
    font-size: 0;
    width: 75px;
    height: 150px;
    right: 0px;
    position: absolute;
}

.advantages {
    &__grid {
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &__image{
        max-width: 100%;
        height: auto;
    }

    &__item {
        flex: 0 1 25%;
        max-width: 25%;
        text-align: center;
        margin: 34px auto 0px;
        padding: 0px 25px;
    }
    &__text {
        margin: 22px 0px 0px;
        font-family: 'DaxlinePro';
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
    }
    &__title {
        margin-bottom: 0;
        &:before {
            position: relative;
            width: 120px;
        }
        &:after {
            width: 120px;
            position: relative;
        }
    }
}

.additionally {
    position: relative;
    margin: 65px 0px 0px;
    background-image: url(../img/additionally-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #718623;
        z-index: -1;
    }
    &__container {
        padding: 0px 0px 65px;
    }
    &__grid {
        width: 100%;
        justify-content: space-between;
        &--three-element {
            .additionally__text {
                flex: 0 0 300px;
                max-width: 300px;
            }
        }
        &--four-element {
            .additionally__text {
                flex: 0 0 200px;
                max-width: 200px;
            }
        }
    }
    &__row {
        margin-bottom: 40px;
        align-items: center;
        &--shrink {
            padding-left: 82px;
        }
    }
    &__circle {
        flex: 0 0 260px;
        position: relative;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        border: 1px dashed #cdd8a3;
        z-index: 2;
        &--mini {
            width: 76px;
            height: 76px;
        }
        &--small {
            width: 92px;
            height: 92px;
            z-index: 1;
        }
        &--absolute {
            position: absolute;
            right: -48px;
            top: -33px;
            z-index: 2;
        }
        &--medium {
            flex: 0 0 175px;
            width: 175px;
            height: 175px;
        }
    }
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 242px;
        height: 242px;
        border-radius: 50%;
        z-index: 2;
        &--medium {
            width: 157px;
            height: 157px;
        }
    }
    &__icon {
        display: block;
        background-color: #fff;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            background-image: url(../img/sprite.png);
            background-position: -173px -165px;
            width: 35px;
            height: 36px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--small {
            width: 60px;
            height: 60px;
            &:before {
                background-position: -122px -165px;
                width: 36px;
                height: 36px;
            }
        }
    }
    &__title {
        font-family: 'Akrobat-Light';
        font-size: 44px;
        margin-bottom: 23px;
    }
    &__content {
        margin-left: 50px;
    }
    &__text {
        padding-right: 30px;
        font-family: 'DaxlinePro';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    &__p {
        padding: 0px 0px 12px;
        margin: 0px 0px 12px;
        border-bottom: 1px dashed #fff;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

.ellipse {
    height: 100px;
    width: 100%;
}

.ellipse__top {
    transform: rotate(180deg);
}

.ellipse__bottom {
    position: absolute;
    bottom: 0;
}

.discounts {
    margin: 10px 0px 0px;
    &__grid {
        margin: 40px 0px 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0px 40px;
        margin: 0px 0px 62px;
    }
    &__circle {
        position: relative;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        border: 1px solid #cedead;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        font-family: 'Akrobat-Bold';
        color: #49494e;
        font-size: 20px;
        line-height: 24px;
        margin: 16px 0px 0px;
    }
    &__text {
        margin: 20px 0px 0px;
        padding: 0px 20px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #89898f;
    }
    &__subtitle {
        font-size: 16px;
        color: #abcb29;
        text-align: left;
    }
    &__list {
        text-align: left;
        margin-left: 20px;
    }
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.price {
    background-color: #fff;
    padding: 0px 0px 100px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    &__grid {
        justify-content: space-between;
    }
    &__item {
        position: relative;
        flex: 1 1 33.33%;
        max-width: 33.33%;
        margin-right: 35px;
        min-height: 433px;
        padding: 0px 25px 42px;
        border-radius: 12px;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        &:last-child {
            margin-right: 0;
        }
    }
    &__info {
        margin-top: 14px;
        padding: 7px 10px 12px;
        border-radius: 7px;
        background-color: #fff;
        font-family: 'Akrobat-SemiBold';
        font-size: 28px;
        line-height: 24px;
    }
    &__title {
        background-color: #fff;
        border-radius: 7px 7px 0px 0px;
        padding: 7px 10px;
        font-size: 20px;
        line-height: 24px;
        color: #49494e;
        font-family: 'Akrobat-Bold';
    }
    &__title-main {
        overflow: hidden;
        &:before {
            width: 40px;
            position: relative;
        }
        &:after {
            width: 40px;
            position: relative;
        }
    }
    &__text {
        font-family: 'DaxlinePro';
        background-color: #fff;
        border-radius: 0px 7px 7px 7px;
        padding: 7px 10px 12px;
        font-size: 16px;
        color: #89898f;
    }
    &__buttons {
        width: 285px;
        max-width: 100%;
        height: 45px;
        position: absolute;
        bottom: -22px;
        background-color: #edeeee;
        justify-content: space-between;
        border-radius: 50px;
        left: 50%;
        transform: translateX(-50%);

    }
    &__button {
        border: none;
        background-color: #edeeee;
        font-size: 16px;
        border-radius: 50px;
        &--check {
            text-transform: uppercase;
            color: #fff;
            padding: 0px 22px;
        }
        &--more {
            font-family: 'Akrobat-SemiBold';
            padding: 0px 14px;
            color: #744915;
            font-size: 16px;
            display: flex;
            align-items: center;
            &:before {
                content: '';
                background-image: url(../img/sprite.png);
                background-position: -581px -116px;
                width: 15px;
                height: 16px;
                margin-right: 5px;
            }
        }
        &--active {
            background-color: #5d9cbc;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__top {
        position: relative;
        max-width: 100%;
    }
    &__input,
    &__textarea {
        width: 345px;
        height: 50px;
        border: 1px solid #e1e1e1;
        padding: 0px 15px;
        border-radius: 50px;
        font-size: 20px;
        color: #66666b;
        font-family: 'Akrobat-Regular';
        margin: 0px 10px;
        background-color: #fff;
        outline: none;
        max-width: 100%;
        &--width-100 {
            flex: 1;
            width: 100%;
        }
        &--width-110 {
            flex: 1;
            width: 110px;
        }
    }
    &__textarea {
        height: 155px;
        border-radius: 30px;
        resize: none;
        &--small {
            height: 70px;
        }
    }
    &__button {
        position: absolute;
        right: -100px;
        top: 0;
        border: 0;
        height: 50px;
        width: 215px;
        border-radius: 50px;
        padding: 10px 15px;
        font-family: 'Akrobat-Bold';
        font-size: 20px;
        color: #fff;
        background-color: #abcb29;
        background: linear-gradient(90deg, #abcb29, #9fd430);
        &--icon-rocket {
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                background-image: url(../img/sprite.png);
                background-repeat: no-repeat;
                background-position: -443px -116px;
                width: 21px;
                height: 21px;
                margin-right: 8px;
            }
        }
        &--icon-phone {
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                background-image: url(../img/sprite.png);
                background-repeat: no-repeat;
                background-position: -479px -116px;
                width: 21px;
                height: 21px;
                margin-right: 8px;
            }
        }
    }
    &__check {
        margin: 19px 0px 0px;
        font-size: 14px;
        color: #302f2f;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: normal;
        label {
            margin-left: 10px;
            cursor: pointer;
        }
    }
    &__checkbox {
        color: #302f2f;
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        position: relative;
        outline: none;
        &-link {
            text-decoration: underline;
            color: #302f2f;
        }
        &:before {
            content: '';
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            transform: translate(-3px, -3px);
            width: 18px;
            height: 18px;
            line-height: 10px;
            text-align: center;
            border: 2px solid #302f2f;
            background: #fff;
            transition: all 0.2s;
        }
        &:checked:before {
            content: '✓';
            position: absolute;
            color: #302f2f;
            font-size: 10px;
            padding-top: 2px;
            font-weight: 700;
        }
    }
    &__label {
        margin-right: 15px;
        &--input-label {
            transition: .3s;
            pointer-events: none;
            position: absolute !important;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__radio {
        position: absolute;
        visibility: hidden;
        cursor: pointer;
    }
    &__radio+label {
        text-decoration: underline;
        text-align: left;
        margin-left: 10px;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        font-weight: 300;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
    }
    &__radiobox {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__important {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            background-color: #ff9b00;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            right: -15px;
        }
    }
    &__element {
        position: relative;
        display: flex;
        align-items: center;
        &--width-100 {
            flex: 1;
        }
        .form__input {
            width: 100%;
        }
    }
}

.radio__check {
    display: block;
    position: absolute;
    border: 1px solid #000;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.radio__check:before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 8px;
    width: 8px;
    top: 50%;
    left: 50%;
    margin: auto;
    transition: background 0.25s linear;
    transform: translate(-50%, -50%);
}

input[type=radio]:checked~.radio__check {
    border: 1px solid #ff9b00;
}

input[type=radio]:checked~.radio__check:before {
    background: #ff9b00;
}

input[type=radio]:checked~label {
    color: #ff9b00;
}

.callback {
    position: relative;
    margin: 84px 0px 0px;
    padding: 0px 50px 0px;
    border-radius: 12px;
    height: 216px;
    background-color: #a4c423;
    background-image: url(../img/callback-back.png);
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: -1;
    }
    &__container {
        padding-left: 0;
        padding-right: 0;
    }
    &__left {
        flex: 0 1 310px;
        display: flex;
        align-items: center;
        &:after {
            content: '';
            background-image: url(../img/sprite.png);
            background-position: 0px -165px;
            width: 22px;
            height: 90px;
            margin-right: 10px;
            position: relative;
            top: 6px;
        }
    }
    &__center {
        flex: 0 1 310px;
        margin-left: 20px;
    }
    &__right {
        flex: auto;
        display: flex;
        justify-content: flex-end;
    }
    &__text {
        font-size: 48px;
        line-height: 48px;
        font-family: 'Akrobat-Light';
        span {
            font-weight: 700;
            font-family: 'Akrobat-Regular';
        }
    }
    &__title {
        font-size: 44px;
        line-height: 44px;
        font-family: 'Akrobat-Light';
        padding-right: 20px;
    }
    &__form {
        position: relative;
        font-size: 20px;
        width: 435px;
        max-width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        .form__input {
            margin-left: 0;
            border-radius: 50px;
            width: 345px;
            max-width: 100%;
            padding: 0px 20px;
            border: 0;
            padding-right: 125px;
        }
        .form__button {
            position: absolute;
            left: auto;
            right: 0px;
            top: 0;
            bottom: 0;
            border-radius: 50px;
            background: linear-gradient(90deg, #ff7f00, #ff9a00 80%);
            color: #FFF;
            border: 0;
            font-size: 20px;
            text-transform: uppercase;
            font-family: 'Akrobat-Bold';
            font-weight: 300;
        }
        .form__check {
            margin: 15px 0px 0px;
            label {
                color: #fff;
            }
        }
        .form__checkbox {
            color: #fff;
            &-link {
                text-decoration: underline;
                color: #fff;
            }
            &:before {
                background: transparent;
                border: 2px solid #fff;
                background: #a6c649;
            }
            &:checked:before {
                content: '✓';
                color: #fff;
            }
        }
    }
}

.reviews {
    margin: 120px 0px 0px;
    padding: 0px 0px 20px;
    background-color: #fff;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    &__title {
        &:before {
            position: relative;
        }
        &:after {
            position: relative;
        }
    }
    &__grid {
        margin: 42px 0px 0px;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__circle {
        position: relative;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        border: 1px solid #cedead;
        box-shadow: inset 0 0 0 10px #fff;
        margin: 0 auto;
    }
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 186px;
        height: 186px;
    }
    &__item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0px 40px;
        margin: 0px 0px 75px;
        text-align: center;
    }
    &__name {
        margin: 18px 0px 0px;
        font-size: 20px;
        line-height: 24px;
        font-family: 'Akrobat-Bold';
    }
    &__stars {
        margin: 13px auto 0px;
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: 0px -86px;
        width: 105px;
        height: 15px;
    }
    &__text {
        margin: 14px 0px 0px;
        font-size: 16px;
        line-height: 24px;
        padding: 0px 25px;
    }
    &__button {
        display: inline-block;
        margin: 25px 0px 0px;
        font-family: 'Akrobat-SemiBold';
        font-size: 16px;
        color: #744915;
        border-bottom: 1px solid #744915;
        border-radius: 40px;
        width: 170px;
        height: 30px;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            background-position: -142px -57px;
            width: 15px;
            height: 14px;
            margin-right: 8px;
        }
    }
}

.message {
    position: absolute;
    top: -40px;
    right: 135px;
    font-family: 'Akrobat-Bold';
    font-size: 17px;
    padding: 20px 25px 30px;
    background-image: url(../img/message-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    &__link {
        display: block;
        text-decoration: underline;
        color: #a8c94a;
    }
}

.places {
    min-height: 1040px;
    padding: 45px 0px 60px;
    background-image: url(../img/places-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__title {
        color: #fff;
        margin: 0px 0px 8px;
        line-height: 1;
        &:before {
            position: relative;
            background-position: -666px -17px;
            width: 99px;
            height: 2px;
        }
        &:after {
            position: relative;
            background-position: -666px -17px;
            width: 99px;
            height: 2px;
        }
    }
    &__subtitle {
        font-family: 'Akrobat-ExtraLight';
        font-size: 54px;
        line-height: 1;
        color: #fff;
        text-align: center;
    }
    &__grid {
        justify-content: space-between;
        margin: 15px 0px 0px;
        flex-wrap: wrap;
    }
    &__item {
        margin: 15px 0px 0px;
        flex: 0 1 265px;
        max-width: 265px;
        min-height: 340px;
        border-radius: 12px;
        border: 2px dotted #d1ced1;
        padding: 10px;
        text-align: center;
    }
    &__image {
        width: 100%;
        height: auto;
        max-width: 100%;
        border-radius: 12px;
    }
    &__distance {
        font-family: 'Akrobat-Bold';
        font-size: 20px;
        line-height: 24px;
        margin: 18px 0px 0px;
        padding: 0px 15px;
    }
    &__text {
        font-family: 'DaxlinePro';
        margin: 10px 0px 0px;
        font-size: 16px;
        line-height: 24px;
        color: #89898f;
        padding: 0px 15px 15px;
    }
    &__inset {
        background-color: #fff;
        height: 100%;
        border-radius: 12px;
    }
}

.application {
    background-image: url(../img/application-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0px 50px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    &__title {
        text-align: center;
        color: #302f2f;
        font-family: 'Akrobat-Light';
        font-size: 48px;
        line-height: 48px;
        margin: 0px 0px 30px;
        span {
            font-family: 'Akrobat-SemiBold';
        }
    }
    &__form {
        padding: 0px 0px 35px;
        border-bottom: 2px dotted #a5a6ab;
        .form__input:last-child {
            padding-right: 105px;
        }
    }
}

.social {
    padding: 38px 0px 0px;
    margin: 0 auto;
    flex: 0 1 800px;
    max-width: 800px;
    align-items: center;
    &__text {
        font-family: 'Akrobat-Light';
        font-size: 24px;
        line-height: 24px;
        flex: 0 0 350px;
        max-width: 350px;
        margin-right: 10px;
    }
    &__link {
        margin-right: 24px;
    }
}

.qa {
    margin: 50px 0px 0px;
    &__title-main {
        &:before {
            position: relative;
            width: 70px;
        }
        &:after {
            position: relative;
            width: 70px;
        }
    }
    &__grid {
        flex-wrap: wrap;
        margin: 50px 0px 0px;
    }
    &__circle {
        position: relative;
        flex: 0 0 48px;
        &--open {
            z-index: 30;
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/sprite.png);
        background-position: -173px -116px;
        width: 27px;
        height: 24px;
    }
    &__item {
        position: relative;
        flex-direction: row;
        flex: 0 1 25%;
        max-width: 25%;
        margin: 0px 0px 72px;
        padding-right: 30px;
        &--text {
            padding-left: 50px;
            font-size: 12px;
            line-height: 16px;
            color: #302f2f;
        }
        &--button-box {
            padding-left: 50px;
        }
    }
    &__circle {
        border: 1px dashed #a5a6ab;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        margin: 0px 0px 13px;
        color: #49494e;
        font-family: 'Akrobat-Bold';
    }
    &__full {
        position: absolute;
        width: 360px;
        background-color: #fff;
        z-index: 20;
        border-radius: 8px;
        box-shadow: 0px 0px 101px 0px rgba(75, 75, 75, 0.36);
        padding: 15px 30px 35px;
        top: -15px;
        left: 30px;
        opacity: 0;
        transform: translateX(-1000%);
        transition: all 0.2s ease-out;
        .qa__button {
            margin: 23px 0px 0px;
            width: 100px;
        }
        &--open {
            opacity: 1;
            transform: translateY(0%);
        }
        .circle {
            overflow: hidden;
            top: 0px;
            left: -60px;
            position: absolute;
            height: 80px;
            width: 65px;
            &:before {
                content: "";
                position: absolute;
                left: 10px;
                top: 0;
                bottom: 0;
                width: 90px;
                border-radius: 100%;
                background: #fff;
                z-index: 22;
            }
        }
    }
    &__bold {
        color: #89898f;
    }
    &__button {
        display: inline-block;
        // margin: 13px 0px 0px;
        font-size: 16px;
        font-family: 'Akrobat-SemiBold';
        color: #92af19;
        border: none;
        border-bottom: 1px solid #92af19;
        border-radius: 50px;
        height: 30px;
        width: 120px;
        text-align: center;
        &:before {
            content: '';
            display: inline-block;
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            background-position: -202px -57px;
            width: 15px;
            height: 13px;
            margin-right: 4px;
        }
        &--curtail {
            &:before {
                background-position: -172px -57px;
                width: 15px;
                height: 14px;
            }
        }
        &--set {
            margin: 0;
            font-family: 'Akrobat-Bold';
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            background: linear-gradient(90deg, #ff7f00, #ff9a00 80%);
            padding: 13px 13px;
            border-radius: 50px;
            &:before {
                content: '';
                vertical-align: middle;
                display: inline-block;
                background-image: url(../img/sprite.png);
                background-repeat: no-repeat;
                background-position: -515px -116px;
                width: 21px;
                height: 19px;
                margin-right: 8px;
            }
        }
    }
}

.map {
    position: relative;
    width: 100%;
    min-height: 630px;
    position: relative;
    border-top: 7px solid #93b644;
    font-family: 'DaxlinePro';
    font-weight: 500;
    color: #363636;
    font-size: 18px;
    line-height: normal;
    &__info {
        position: absolute;
        top: 35%;
        left: 60%;
        z-index: 100;
    }
    &__address {
        background-color: #fff;
        border-radius: 7px 7px 7px 0;
        padding: 20px 20px 7px;
        width: 375px;
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/sprite.png);
            background-position: -551px -116px;
            width: 15px;
            height: 18px;
            margin-right: 8px;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            border-bottom: dashed 1px #95979c;
            width: 80%;
            left: 20px;
            right: 20px;
        }
    }
    &__box {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 0px 0px 7px 0;
        padding: 7px 20px 12px;
        width: 355px;
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/sprite.png);
            background-position: -132px -116px;
            width: 26px;
            height: 25px;
            margin-right: 8px;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            border-bottom: dashed 1px #95979c;
            width: 70%;
            left: 20px;
            right: 20px;
        }
    }
    &__time {
        background-color: #fff;
        border-radius: 0 0px 7px 7px;
        padding: 16px 20px 20px;
        width: 300px;
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/sprite.png);
            background-position: -258px -165px;
            width: 13px;
            height: 19px;
            margin-right: 8px;
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
    }
    &__phone {
        color: #363636;
        font-family: 'Akrobat-Bold';
        span {
            font-size: 26px;
        }
    }
    &__right {
        display: flex;
    }
    &__callback {
        font-size: 12px;
        color: #363636;
        line-height: normal;
        font-weight: 400;
        border-bottom: 1px dashed #9fa1a6;
        margin-left: 28px;
    }
}

#gmap_canvas {
    min-height: 630px;
    width: 100%;
}

.remodal-close {
    top: -75px;
    left: 50%;
    width: 55px;
    height: 55px;
    transform: translateX(-50%);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.28);
    background-color: #fff;
    border-radius: 50%;
    &:before {
        color: #abcb29;
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.fancybox {
    &-bg {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.remodal {
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.28);
    border-radius: 12px;
    padding: 34px 35px 44px;
    &__title {
        font-size: 48px;
        color: #5b5b5c;
        font-family: 'Akrobat-Light';
        font-weight: 300;
        position: relative;

        &:before {
            content: '';
            position: relative;
            top: 60%;
            margin: 0 auto;
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/sprite.png);
            background-position: -406px -17px;
            width: 45px;
            height: 2px;
            margin-right: 10px;

        }
        &:after {
            content: '';
            position: relative;
            top: 60%;
            margin: 0 auto;
            display: inline-block;
            vertical-align: middle;
            background-image: url(../img/sprite.png);
            background-position: -406px -17px;
            width: 45px;
            height: 2px;
            margin-left: 10px;
        }
    }
    &__subtitle {
        font-family: 'Akrobat-Regular';
        font-size: 20px;
        color: #66666b;
        margin-top: 10px;
    }
    &__top {
        padding: 0px 25px;
    }
    &__content {
        padding: 40px 0px 0px;
    }
    &__name {
        display: flex;
        margin-right: auto;
        margin-bottom: 13px;
        font-size: 20px;
        font-family: 'Akrobat-Regular';
        &--ml-25 {
            padding-left: 25px;
        }
    }
    &__text {
        text-align: left;
        margin-right: 30px;
        font-size: 16px;
        .form__important:before {
            position: relative;
            display: inline-block;
            right: auto;
            margin-left: 3px;
        }
    }
    &__form {
        .form__element {
            margin: 23px 0px 0px;
        }
        .form__input {
            width: auto;
            flex: 0 1 calc(33.33% - 30px);
            &--width-100 {
                flex: 1;
                width: 100%;
            }
            &--width-110 {
                flex: auto;
                width: 110px;
            }
        }
        .form__textarea {
            margin: 30px 10px 0px;
            padding: 15px 20px;
            width: auto;
            flex: 1 1 100%;
            width: 100%;
        }
        .form__check {
            font-size: 12px;
            margin-top: 0;
            margin-right: 30px;
            display: flex;
            align-items: center;
            .form__checkbox-link {
                display: inline;
            }
        }
        .qa__button {
            width: 180px;
            margin-left: 20px
        }
        .form__radiobox {
            flex: 0 0 17%;
            margin: 0px 15px;
        }
    }
    &__grid {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        &--shrink {
            padding: 0px 25px;
            margin-bottom: 10px;
        }
        &--nowrap {
            flex-wrap: nowrap;
        }
    }
    &__bottom {
        justify-content: space-between;
        align-items: center;
        padding: 24px 25px 0px;
        width: 765px;
        max-width: 100%;
        margin: 0 auto;
    }
}

.remodal-overlay {
    background-color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 905px;
    }
}

.mfp-bg {
    background-color: rgba(255, 255, 255, 0.7);
}

.mfp-container {
    padding: 0px;
}

img.mfp-img {
    border: 11px solid #fff;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.28);
}

.mfp-zoom-out-cur {
    cursor: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer;
}

.mfp-counter {
    display: none;
}

body .mfp-iframe-holder .mfp-close,
body .mfp-image-holder .mfp-close {
    color: #abcb29;
    top: -75px;
    position: absolute;
    text-align: center;
    left: 50%;
    width: 55px;
    height: 55px;
    padding: 0px;
    transform: translateX(-50%);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.28);
    background-color: #fff;
    border-radius: 50%;
    font-size: 42px;
    opacity: 1;
}

button.mfp-arrow {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    opacity: 1;
    font-size: 0;
    width: 75px;
    height: 150px;
    position: absolute;
}

button.mfp-arrow-left {
    left: 0;
    background-image: url(../img/arrow-left.png);
}

button.mfp-arrow-right {
    right: 20px;
    background-image: url(../img/arrow-right.png);
}

.mfp-arrow-left:before,
.mfp-arrow-left:after,
.mfp-arrow-right:before,
.mfp-arrow-right:after {
    display: none;
}

.form__input:focus~.form__label--input-label,
.form__input:not(:focus):valid~.form__label--input-label {
    top: -16px;
    font-size: 12px;
}

// icon
.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon-address-icon {
    background-image: url(../img/sprite.png);
    background-position: -551px -116px;
    width: 15px;
    height: 18px;
}

.icon-banya-icon {
    background-image: url(../img/sprite.png);
    background-position: -72px -165px;
    width: 35px;
    height: 38px;
}

.icon-book-png {
    background-image: url(../img/sprite.png);
    background-position: -142px -57px;
    width: 15px;
    height: 14px;
}

.icon-brakcet-icon {
    background-image: url(../img/sprite.png);
    background-position: 0px -165px;
    width: 12px;
    height: 90px;
}

.icon-btn-phone-icon {
    background-image: url(../img/sprite.png);
    background-position: -479px -116px;
    width: 21px;
    height: 21px;
}

.icon-calian-icon {
    background-image: url(../img/sprite.png);
    background-position: -122px -165px;
    width: 36px;
    height: 36px;
}

.icon-clock-icon {
    background-image: url(../img/sprite.png);
    background-position: -258px -165px;
    width: 13px;
    height: 19px;
}

.icon-discount-line-dotted {
    background-image: url(../img/sprite.png);
    background-position: -406px -17px;
    width: 245px;
    height: 2px;
}

.icon-kacheli-icon {
    background-image: url(../img/sprite.png);
    background-position: -68px -116px;
    width: 49px;
    height: 34px;
}

.icon-mangal-icon {
    background-image: url(../img/sprite.png);
    background-position: -27px -165px;
    width: 30px;
    height: 46px;
}

.icon-menu-icon-1 {
    background-image: url(../img/sprite.png);
    background-position: -215px -116px;
    width: 23px;
    height: 23px;
}

.icon-menu-icon-2 {
    background-image: url(../img/sprite.png);
    background-position: -253px -116px;
    width: 23px;
    height: 23px;
}

.icon-menu-icon-3 {
    background-image: url(../img/sprite.png);
    background-position: -291px -116px;
    width: 23px;
    height: 23px;
}

.icon-menu-icon-4 {
    background-image: url(../img/sprite.png);
    background-position: -367px -116px;
    width: 23px;
    height: 23px;
}

.icon-menu-icon-5 {
    background-image: url(../img/sprite.png);
    background-position: -329px -116px;
    width: 23px;
    height: 23px;
}

.icon-menu-icon-6 {
    background-image: url(../img/sprite.png);
    background-position: -405px -116px;
    width: 23px;
    height: 22px;
}

.icon-menu-icon-7 {
    background-image: url(../img/sprite.png);
    background-position: -223px -165px;
    width: 20px;
    height: 23px;
}

.icon-more-icon {
    background-image: url(../img/sprite.png);
    background-position: -581px -116px;
    width: 15px;
    height: 16px;
}

.icon-people-icon {
    background-image: url(../img/sprite.png);
    background-position: 0px -116px;
    width: 53px;
    height: 34px;
}

.icon-phone-icon {
    background-image: url(../img/sprite.png);
    background-position: -132px -116px;
    width: 26px;
    height: 25px;
}

.icon-places-line-dotted {
    background-image: url(../img/sprite.png);
    background-position: -666px -17px;
    width: 99px;
    height: 2px;
}

.icon-promo-btn-bottom {
    background-image: url(../img/sprite.png);
    background-position: 0px -17px;
    width: 222px;
    height: 25px;
}

.icon-promo-line {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 1097px;
    height: 2px;
}

.icon-qa-btn-bottom {
    background-image: url(../img/sprite.png);
    background-position: 0px -57px;
    width: 127px;
    height: 14px;
}

.icon-qa-button-icon {
    background-image: url(../img/sprite.png);
    background-position: -202px -57px;
    width: 15px;
    height: 13px;
}

.icon-qa-icon {
    background-image: url(../img/sprite.png);
    background-position: -173px -116px;
    width: 27px;
    height: 24px;
}

.icon-qa-main-button-icon {
    background-image: url(../img/sprite.png);
    background-position: -515px -116px;
    width: 21px;
    height: 19px;
}

.icon-rev-btn-bottom {
    background-image: url(../img/sprite.png);
    background-position: -237px -17px;
    width: 154px;
    height: 14px;
}

.icon-rocket-icon {
    background-image: url(../img/sprite.png);
    background-position: -443px -116px;
    width: 21px;
    height: 21px;
}

.icon-sead-icon {
    background-image: url(../img/sprite.png);
    background-position: -173px -165px;
    width: 35px;
    height: 36px;
}

.icon-stars-icon {
    background-image: url(../img/sprite.png);
    background-position: 0px -86px;
    width: 105px;
    height: 15px;
}

.icon-svernut-icon {
    background-image: url(../img/sprite.png);
    background-position: -172px -57px;
    width: 15px;
    height: 14px;
}


@import "partials/media";
