@import "vars";
@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .reviews {
        &__item {
            flex: 1;
        }
    }
    .title-main {
        font-size: 76px;
        &:before,
        &:after {
            position: static;
            width: 40px;
            margin: 0px 5px;
        }
    }
    .additionally__grid--three-element .additionally__text {
        flex: 1;
        max-width: 100%;
    }
    .additionally__grid--four-element .additionally__text {
        flex: 1;
        max-width: 100%;

    }
    .callback__text {
        font-size: 40px;
        line-height: 40px;
    }
    .price__grid {
        flex-wrap: wrap;
        justify-content: center;
    }
    .price__item {
        flex: 1;
        min-width: 310px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .title-main {
        font-size: 60px;
        &:before,
        &:after {
            position: static;
            width: 40px;
            margin: 0px 10px;
        }
    }
    .main-carousel__image {
        width: 100%;
    }
    .callback {
        padding: 20px 15px;
        height: auto;
        flex-wrap: wrap;
        .callback__form {
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            .form__button {
                margin-top: 10px;
                position: static;
                width: 100%;
            }
            .form__input {
                margin: 0;
                padding: 0px 15px;
                width: 100%;
            }
        }
        &__text {
            font-size: 40px;
            line-height: 40px;
        }
        &__title {
            font-size: 42px;
        }
        &__left,
        &__center,
        &__right {
            flex: 1;
            margin: 0;
            padding: 0px 15px;
            margin-bottom: 25px;
            max-width: 100%;
        }
    }
    .reviews {
        .message {
            right: 0;
            top: -85px;
        }
        &__item {
            max-width: 100%;
            margin-bottom: 30px;
            padding: 0px 10px;
        }
    }
    .additionally {
        &__grid {
            flex-wrap: wrap;
            &--three-element {
                .additionally__text {
                    flex: auto;
                }
            }
            &--four-element {
                .additionally__text {
                    flex: auto;
                }
            }
        }
    }
    .application {
        &__title {
            font-size: 40px;
            line-height: 40px;
        }
        &__form {
            .form__button {
                position: static;
                margin: 0 auto;
                flex: 1;
            }
            .form__input {
                margin: 0px 0px 20px;
            }
            .form__check {
                padding: 0px 15px;
            }
            .form__top {
                text-align: center;
            }
        }
    }
    .qa__item--text {
        padding-left: 0;
        text-align: center;
    }
    .qa__item--button-box {
        padding-left: 0;
    }
    .qa__item--box {
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 40px;
        flex: 1 1 100%;
    }
    button.mfp-arrow-right {
        right: 0;
    }

    .discounts__circle{
        width: 180px;
        height: 180px;
    }

    // header
    .logo {
        width: 100px;
    }
    .header {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        &__top {
            padding: 10px 0px;
        }
        &__number {
            font-size: 12px;
            span {
                font-size: 14px;
            }

            &--mobile{
                position: absolute;
                top: 17px;
                right: 170px;
            }
        }
        &__callback {
            font-size: 10px;
        }
        &__address {
            font-size: 14px;
        }
        &__grid {
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }
        &__col {
            justify-content: center;
            flex: 1;
            width: 100%;
            &--center {
                display: none;
            }
        }
        &__item {
            display: flex;
            align-items: flex-start;
            margin: 0px 15px;
            &--address {
                display: none;
            }


        }
        &__menu {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: auto;
        }
        &__bottom {
            background-color: #fff;
            padding: 15px 0px;
            opacity: 0;
            transform: translateX(-100%);
            transition: .3s all ease-out;
            position: absolute;
            left: 0;
            right: 0;
            &--active {
                transform: translate(0);
                opacity: 1;
            }
        }
        .menu {
            &__link {
                margin-bottom: 10px;
                flex-direction: column;
                align-items: center;
            }
            &__text {
                font-size: 16px;
            }
        }
        .header__col--center .header__item:last-child {
            margin-left: 0;
        }
        .hamburger {
            display: block;
            right: 15px;
        }
        .wrapper {
            padding-top: 81px;
        }
    }
}

@media screen and (max-width: 920px) {
    // remodal
    .remodal {
        margin: 20px 0px 0px;
        padding: 20px 15px 30px;
        &__title {
            font-size: 22px;
            &:before,
            &:after {
                display: none;
            }
        }
        &__subtitle {
            font-size: 16px;
        }
        &__name {
            padding-left: 0;
        }
        &__grid {
            flex-wrap: wrap;
            flex-direction: column;
            &--shrink {
                padding: 0;
            }
        }
        .form__radiobox {
            margin-top: 15px;
        }
        .form__element {
            display: flex;
            flex: 1;
            width: 100%;
        }
        .form__label {
            font-size: 16px;
        }
        .form__input {
            flex: 1;
            margin-left: 0;
            margin-right: 0;
        }
        .form__textarea {
            margin: 30px 0px 0px;
        }
        .form__check {
            margin: 20px 20px 0px;
        }
        .button {
            margin: 20px 0px 0px;
            font-size: 16px;
        }
        &__text {
            margin: 20px 20px 0px;
            margin-right: 0;
            text-align: center;
        }
        &__bottom {
            padding-top: 0px;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
        &-close {
            right: -25px;
            left: auto;
            top: -25px;
        }
    }
}

@media screen and (max-width: 768px) {
    .title-main {
        font-size: 38px;
        &:before,
        &:after {
            display: none;
        }
    }
    .header {
        .header__grid {
            flex-direction: column;
        }
    }
    .promo {
        height: 500px;
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.4);
            z-index: -1;
        }
        &__box {
            padding-bottom: 10px;
        }
        &__text {
            font-size: 10px;
            margin: 3px 0px 0px;
            text-align: center;

            br{
                display: none;
            }
        }
        &__title {
            font-size: 42px;
        }
        &__descr {
            font-size: 16px;
        }
        &__bottom {
            flex-wrap: wrap;
            margin: 20px 0px 0px;
            padding: 10px 0px 0px;
            justify-content: space-around;
            align-items: baseline;
        }
        &__item {
            flex: 1 1;
            flex-direction: column;
        }
    }
    .main-carousel {
        &__button {
            font-size: 18px;
        }
        &__image {
            width: 100%;
        }
    }
    .advantages {
        justify-content: space-around;
        &__item {
            flex: 1 1 50%;
            max-width: 50%;
            min-height: 140px;
        }
        &__text {
            font-size: 12px;
            line-height: 14px;
        }
    }
    .additionally {
        &__title {
            font-size: 42px;
        }
        &__text {
            padding-right: 0;
            flex: auto;
            margin: 0px 0px 15px;
            font-size: 16px;
        }
        &__content {
            margin-left: 0;
        }
        &__circle {
            flex: 0 0 150px;
            width: 150px;
            height: 150px;
            &--small,
            &--mini {
                width: 66px;
                height: 66px;
            }
        }
        &__icon {
            width: 54px;
            height: 54px;
        }
        &__image {
            width: 132px;
            height: 132px;
        }
        &__row {
            flex-direction: column;
            align-items: flex-start;
            &--shrink {
                padding-left: 0;
            }
        }
    }
    .application {
        &__title {
            font-size: 20px;
            line-height: 20px;
        }
        &__form {
            .form__button {
                position: static;
                margin: 0 auto;
                width: 100%;
            }
            .form__input {
                margin: 0px 0px 20px;
                flex: 1;
                width: 100%;
            }
            .form__check {
                padding: 0px 15px;
            }
            .form__top {
                text-align: center;
            }
        }
    }
    .discounts {
        &__circle {
            width: 150px;
            height: 150px;
        }
        &__item {
            flex: 1;
            max-width: 100%;
            padding: 0px 15px;
            margin-bottom: 30px;
        }
        &__image {
            width: 60px;
            height: 60px;
        }
        &__text {
            width: 290px;
            margin: 20px auto 0px;
        }
    }
    .price {
        margin: 30px 0px 0px;
        padding: 0px 0px 30px;
        &__title {
            font-size: 16px;
        }
        &__text {
            font-size: 14px;
        }
        &__grid {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0px 0px 50px;
        }
        &__buttons {
            width: 255px;
        }
        &__button {
            font-size: 14px;
        }
    }
    .places {
        &__item {
            margin: 0 auto 20px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }
    .form {
        &__input {
            font-size: 16px;
            padding: 0px 15px;
        }
    }
    .social {
        max-width: 100%;
        flex-direction: column;
        &__text {
            flex: auto;
        }
        &__icons {
            margin: 20px 0px 0px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .qa {
        &__title {
            font-size: 16px;
            margin: 5px 0px 5px;
            padding-left: 5px;
        }
        &__item {
            flex: 1;
            max-width: 100%;
            margin-bottom: 30px;
            justify-content: center;
            &--button-box {
                text-align: center;
            }
        }
        &__full {
            width: 280px;
        }
    }
    .map {
        max-width: 100%;
        font-size: 14px;
        &__address {
            max-width: 100%;
        }
        &__box {
            font-size: 14px;
            max-width: 100%;
        }
        &__phone {
            span {
                font-size: 18px;
            }
        }
        &__time {
            max-width: 100%;
        }
        &__info {
            left: 25px;
            right: 25px;
            top: 60%;
        }
    }
    .owl-naw {
        top: 25%;
    }
    .owl-next,
    .owl-prev {
        width: 50px;
        height: 100px;
    }
}
